$font-family-sans-serif: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "variabless";
//@import "../../bower_components/sass-flex-mixin/flexbox";
//@import "../../bower_components/skeleton-sass/skeleton/themes/fresh/_base.scss";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html{
  font-size: 12px;
  height: 100%;
}

body{
  margin: 0 auto;
  padding: 0;
  //max-width: $base-width;
  height: 100%;

  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;

  //background: rgba(#ddd, .5) url("../img/ricepaper_v3.png");

}


.flexbox{
  display: flex;
}

.layout-column{
  display: flex;
  flex-direction: column;
}
.layout-row{
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.flex{
  flex: 1;
}

header{
  position: fixed;
  max-width: $screen-md-max;
  z-index: 1000;

  width: 100%;

  ul.top-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      background: rgba(#222, .8);
      color: white;

      padding: .3em .8em;
      &.active{
        background: transparent;
      }
      &.disabled{
        background: transparent;
      }
    }
  }
  .header-filler{
    background: red;
  }
}

footer{
  display: flex;
  justify-content: flex-end;;
}


